extends layout

block content
  p Welcome to Shopping Mall
  form(action='placeOrder' method='post')
    table(border=1)
       tr
        th Product Name
        th Price
        th Quantity
       -each product in products
        tr
          td #{product.p_name}
          td #{product.p_price}
          td 
            input(type='text', name='#{product.p_id}' placeholder='Quantity')
    div 
        input(type='text', name='customer_name' placeholder='Enter your name')
        br
        input(type='text', name='contact_no' placeholder='Contact Number')
    input(type='submit' value='Place Order')

